// PERSONAL CUSTOMISED CSS

.auth-body{
  background-color: white !important;
}

.no-shadow {
  box-shadow: none !important;
}

.auth-img {
  width: 570px !important;
  margin-right: 50px !important;
}

.auth-head {
  font-weight: bolder !important;
}

form {
  max-width: 100% !important;
  margin-top: 0 !important
}

.input-group-text {
  background-color: white !important;
}
