/* CSS FOR THE TOP MOST MODULE */
/* ----------------------------------------------- */


.ads_advert {
  height: 75px;
  /* padding: 10px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-size: 17px;
  width: 85%;
  margin: 0 auto;
}

.top_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.ads {
  text-align: center;
}

.ads_link {
  font-weight: bolder;
}

.top_left_links_icons {
  margin-left: 15px;
}

.top_right_links_icons {
  margin-right: 15px;
}

.top_left_links .policy_link,
.top_right_links p {
  transition: color 0.3s ease 0s;
}

.ads_sub_link {
  color: #F34F51;
  cursor: pointer;
  transition: color 0.2s ease 0s;
}

.top_left_links .policy_link:hover,
.top_right_links p:hover {
  color: #F34F51;
  cursor: pointer;
  transition: color 0.2s ease 0s;
}

.top_right_links p:hover {
  cursor: pointer;
}

.top_left_links_icons a {
  display: flex;
  align-items: center;
}

.links_icons {
  width: 17px;
  height: 17px;
}

.links_icons .kiwi {
  transition: color 0.5s ease 0s;
}

.links_icons:hover .kiwi {
  fill: #F34F51;
  transition: color 0.5s ease 0s;
}

.header .nav .btn:hover {
  color: #F34F51;
}

.ads_divider {
  height: 25px;
  width: 0.7px;
  margin-right: 100px;
  margin-left: 100px;
  background-color: #eeeeee;
  /* transition: opacity 0.5s ease 0s; */
}

@media screen and (max-width: 767px) {
  
  .header .nav {
    width: 85%;
  }

  .header .nav .logo {
    width: 90px;
  }

  .header .nav .menu {
    width: 2rem;
    height: 1.5rem;
  }
}
