/* CSS FOR THR FOOTER
------------------------------------ */

.footer,
.footer .content,
.footer .content .first,
.footer .content .second,
.footer .content .third,
.footer .content .first .icons {
  display: flex;
}

.footer {
  align-items: center;
  background-color: #000;
  flex-direction: column;
  /* margin-top: 300px; */
}

.footer .content {
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
  margin: 50px auto 35px;
}

.footer .content .first,
.footer .content .second,
.footer .content .third {
  flex-direction: column;
  width: 30%;
}

.footer .content .second {
  text-align: center;
}

.footer .content .third {
  text-align: right;
  align-items: flex-end;
}

.footer .content .first h3,
.footer .content .second h3,
.footer .content .third h3 {
  font-family: Caviar Dreams Bold;
  margin-bottom: 27px;
  color: #F34F51;
}

.footer .content .first p,
.footer .content .third p {
  color: #fff;
}

.footer .content .first .icons {
  justify-content: space-between;
  width: 200px;
  margin-top: 30px;
}

.footer .content .third .icons {
  margin-bottom: 27px;
}

.footer .content .first .icons .footer__icon {
  width: 30px;
  height: 30px;
}

.footer .content .third .icons .footer__image {
  width: 70px;
}

.footer .content .third .icons .footer__image:nth-child(2) {
  width: 150px;
}

/* CSS FOR THE FORM 
--------------------------------------- */

form {
  max-width: 350px;
  margin: 30px 0 0;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: #fff;
  color: white;
  width: 43px;
  height: 43px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 7px;
  outline: none;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer .content {
    flex-direction: column;
    margin: 40px auto 0;
  }

  .footer .content .first,
  .footer .content .second,
  .footer .content .third {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
    align-items: center;
  }

  .footer .content .third .icons .footer__image {
    width: 50px;
  }

  .footer .content .third .icons .footer__image:nth-child(2) {
    width: 120px;
  }
}

.footer .copyright {
  /* background: #b58056; */
  background-color: #F34F51;
  padding: 17px 0;
  width: 100%;
}

.footer .copyright p {
  text-align: center;
  font-family: Caviar Dreams Bold;
  color: #fff;
}
